<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coookiez Food</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <div class="header__inner">
        <h1 tabindex="0" class="header__title">Coookiez Food</h1>
        <a id="hamburger" href="#">☰</a>
      </div>
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/"><i class="fa fa-home fa-lg"></i> Home</a>
        </li>
        <li class="nav__item">
          <a href="#"><i class="fa fa-heart fa-lg"></i> Favorite</a>
        </li>
        <li class="nav__item">
          <a href="https://github.com/maififteen" target="_blank"
            ><i class="fa fa-user-circle fa-lg"></i> About Us</a
          >
        </li>
      </ul>
    </nav>
    <div class="hero">
      <div class="hero__inner">
        <h1 tabindex="0" class="hero__title">
          Temukan Restoran, Pesan Secepat Kilat, Puaskan Seleramu
        </h1>
        <p tabindex="0" class="hero__tagline">
          Kami akan membantu Anda menemukan restoran terbaik di kota Anda. Pesan
          sekarang dan segera nikmati hidangan terbaik
        </p>
      </div>
    </div>
    <main id="maincontent">
      <section class="content">
        <div class="latest">
          <h1 tabindex="0" class="latest__label">
            Temukan Restoran <i class="fa fa-search"></i>
          </h1>
          <div class="posts" id="posts"></div>
        </div>
      </section>
    </main>
    <footer tabindex="0">
      <span style="color: white">Copyright © 2020 - Coookiez Food</span>
    </footer>
  </body>
</html>
