<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free movie catalogue for you" />
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="manifest" href="manifest.json" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Coookiez Catalogue</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button aria-label="navigation" class="tombol" id="hamburgerButton">
          ☰
        </button>
      </div>
      <div class="app-bar__brand">
        <h1>Coookiez Catalogue</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a class="tombol" href="#/all-restaurants">Home</a></li>
          <li><a class="tombol" href="#/like">Favorite</a></li>
          <li><a class="tombol" href="#/about">About Me</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero">
      <div class="hero__inner">
        <h1 tabindex="0" class="hero__title">
          Temukan Restoran, Pesan Secepat Kilat, Puaskan Seleramu
        </h1>
        <p tabindex="0" class="hero__tagline">
          Kami akan membantu Anda menemukan restoran terbaik di kota Anda. Pesan
          sekarang dan segera nikmati hidangan terbaik
        </p>
      </div>
    </div>
    <main id="mainContent"></main>
    <footer>
      <p>
        Copyright &copy; <a href="/" class="tombol">Coookiez Catalogue</a> 2021.
        All data obtained from
        <a
          class="tombol"
          href="https://dicoding.com"
          target="_blank"
          rel="noreferrer"
          >Dicoding</a
        >
      </p>
    </footer>
  </body>
</html>
