<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dicoding's Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">Coookiez Food</h1>
            <a id="hamburger" href="#">☰</a>
        </div>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li class="nav__item"><a href="#">Favorite</a></li>
            <li class="nav__item">
                <a href="https://github.com/maififteen" target="_blank">About Us</a>
            </li>
        </ul>
    </nav>
    <div class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">
                Temukan Restoran, Pesan Secepat Kilat, Puaskan Seleramu
            </h1>
            <p class="hero__tagline">
                Kami akan membantu Anda menemukan restoran terbaik di kota Anda. Pesan
                sekarang dan segera nikmati hidangan terbaik
            </p>
        </div>
    </div>
    <main>
        <section class="content">
            <div class="latest">
                <h1 class="latest__label">Temukan Restoran</h1>
                <div class="posts" id="posts"></div>
            </div>
        </section>
    </main>
    <footer>
        <span style="color: white">Copyright © 2020 - Coookiez Food</span>
    </footer>
</body>

</html>